main section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
main section div img{
    width: 25px;
}
main section >img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
}
main section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
main section > div >span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}
main section > div >span a{
    font-size: 0.75rem;
    color: rgb(170, 170, 170);
    margin-left: 10px;
}
main section h1{
    font-size: 1.75rem;
    margin: -10px 0 10px 0;
}
.date{
    font-size: 0.75rem;
}
main section p{
    font-size: 0.75rem;
    margin-top: -15px;
}