body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#root{
  width: 30%;
  height: 65%;
  border: 3px solid pink;
  border-radius:10px;
  background-color: white;
}